{% extends 'base.html.twig' %}


{% block body %}

    <div class="container mt-5 text-center">
        {% if users.username is defined %}
            <h2>Bonjour {{ users.username }}</h2>
            <br>
            <b>{{ users.content }}</b>
            <br><br><br>
            <b>Mon CV : </b>
            <br>
            <a href="../../../public/uploads/pdf/CVThimote.pdf">Lien vers mon cv</a>
            <br><br><br>
            <b>Mes réseaux : </b>
        {% endif %}
    </div>

{% endblock %}