{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid m-5 text-center">
        <h1>Liste des articles</h1>
        {% if users %}
            <a class="btn btn-primary mt-5" href="/article/add">Ajouter un article</a>
        {% endif %}
        <div class="d-flex justify-content-around mt-5">
            {% for articles in article %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ articles.title }}</h5>
                        <hr>
                        <p class="card-text">Dernière modificatiopn : <br> {{ articles.createdAt|date('d-m-Y') }}</p>
                        <hr>
                        <a href="/article/{{ articles.id }}" class="btn btn-primary">Voir l'article</a>
                        {% if articles.author_id == users.id %}
                            <a class="btn btn-primary" href="/article/edit/{{ articles.id }}">Modifier l'article</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}