{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid m-5 text-center">
        <h1>Liste des articles</h1>
        <a class="btn btn-primary" href="/article/add">Ajouter un article</a>
        {% for articles in article %}
            <div class="mt-5 text-center">
                <h2>{{ articles.title }}</h2>
                <p>{{ articles.content }}</p>
                <p>{{ articles.createdAt|date('d-m-Y') }}</p>
                <a href="/article/{{ articles.id }}">Voir l'article</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}