{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h2>Modifier un article</h2>
        <form method="post" action="">
            <input class="form-control" type="text" name="title" value="{{ article.title }}">
            <input class="form-control" type="text" name="content" value="{{ article.content }}">
            <input type="submit" class="btn btn-primary" value="Modifier">
        </form>

    </div>

{% endblock %}