{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5 text-center">
        <h2>Derniers articles</h2>

        <div class="d-flex justify-content-around mt-5">
            {% for article in articles %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <hr>
                        <p class="card-text">Dernière modificatiopn : <br> {{ article.createdAt|date('d-m-Y') }}</p>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-sm" href="/article/edit/{{ articles.id }}">Modifier l'article</a>
                            <a class="btn btn-danger btn-sm" href="">Supprimer l'article</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}